<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<style>
			#cp1 {
				padding: 50px;
				border: 1px solid red;
			}
			
			#cp2 {
				padding: 50px;
				border: 1px solid green;
			}
		</style>
		<div id="demo">

		</div>
		<script src="../js/vue.js"></script>
		<script src="../js/vuex.js"></script>
		<script>
			var store = new Vuex.Store({
				//保存数据的状态
				//公有数据
				state: {
					name: "laolan"
				},
				mutations: {
					setName: function(state,data) {
						state.name = data
					}
				}
			})
			//Vue.extend
			var a = {
				template: `
					<div id="cp1">
						<input v-model="name" />
						<button @click="submit">提交数据</button>
					</div>`,
				data() {
					//私有数据
					return {
						name: "laoyao"
					}
				},
				methods: {
					submit() {
						//触发mutations的setName方法
						this.$store.commit('setName',this.name);
					}
				},
				mounted() {
					console.log(this.$store)
				}
			}
			var b = {
				template: `
					<div id="cp2">
						<input v-model="name" />
						<p>{{name}}</p>
					</div>`,
				data() {
					return {
						//name: "laoxie"
					}
				},
				computed: {
					name() {
						return this.$store.state.name
					}
				},
				mounted() {
					console.log(this.$store)
				}
			}
			new Vue({
				el: "#demo",
				template: `
					<div>
						<aa></aa>
						<bb></bb>
					</div>
				`,
				components: {
					'aa': a,
					'bb': b
				},
				store
			})
		</script>
	</body>

</html>