<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="demo">
		</div>
		<script src="../../js/vue.js"></script>
		<script src="../../js/jquery.js"></script>
		<script>
			Vue.directive("in",function(el){
				$(el).css("color","red")
				console.log()
			})
			var demo = new Vue({
				el:"#demo",
				data:{
					name:"laoyao",
					nn:null
				},
				methods:{
					Click:function(){
						
					}
				},
				template:`
					<div>
						<input v-in v-model="name" />
						<p>{{name}}</p>
						<ul>
							<li v-for="n in nn">{{n}}</li>
						</ul>
					</div>
				`,
				beforeCreate(){
					//初始化状态
					console.log("创建前的状态")
					console.log("el",this.$el)
					console.log("data",this.$data)
					console.log("name",this.name)
					//alert("beforeCreate")
					//this==demo
				},
				created(){
					console.log("创建完毕的状态")
					console.log("el",this.$el)
					console.log("data",this.$data)
					console.log("name",this.name)
					//alert("created")
					
				},
				beforeMount(){
					console.log("挂载之前的状态")
					console.log("el",this.$el)
					console.log("data",this.$data)
					console.log("name",this.name)
					//alert("beforeMount")
				},
				mounted(){
					//获取节点一般是在mounted生命周期之后获取
					console.log($("ul"))
					this.nn = ["a","b","c"];
					console.log("挂载完毕的状态")
					console.log("el",this.$el)
					console.log("data",this.$data)
					console.log("name",this.name)
					//alert("mounted")
				},
				beforeUpdate(){
					console.log("更新前的状态")
					console.log("el",this.$el)
					console.log("data",this.$data)
					console.log("name",this.name)
					//alert("beforeUpdate")
				},
				updated(){
					console.log("更新后的状态")
					console.log("el",this.$el)
					console.log("data",this.$data)
					console.log("name",this.name)
					//alert("updated")
				}
			})
			
			demo.name = "laoxie"
			console.log(demo)
		</script>
	</body>
</html>
